.auth-container {
  width: 100%;
  height: auto;
  background: #063ca8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px;
}

.auth-box {
  width: 100%;
  max-width: 380px;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
  color: #111;
}

.input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.input-group input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.2s ease;
}

.input-group input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
  outline: none;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.auth-btn:hover {
  background: #4338ca;
}

.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.auth-footer span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: 600;
}


.error-text {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}
